# fly.toml app configuration file generated for fistforce on 2026-01-12T17:32:26Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'fistforce'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = false
  min_machines_running = 1

  [[services.ports]]
    port = 5000

[env]
  RUST_LOG = "info,server=debug"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
